#animelist{
  height: auto;
  width: 300px;
  position: static;
  overflow-x: visible;
}
.sidenav{
  padding-top: 5px;
}

.sidenavitem{
  text-decoration: none;
  font-size: 20px;
  display: block;
  background-color: rgb(255, 166, 193);
  height: 100px;
  position: relative;
}

.sidenavimg{
  height: 100px;
  float: left;
}

.sidenavtext{
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: relative;
  top:50%;
  left: 30%;
  transform: translate(-50%,-50%);
  overflow: visible;
  text-align: center;
  padding-left: 30px;
}

.sidenavitem:hover{
  background-color: rgb(255, 196, 214);
}


#test{
  background-color: black;
  height: 5000px;
  width: 800px;
}
