.reviewitem{
  height: auto;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
}

.reviewtext{
  display: inline-block;
  float: left;
  padding-left: 10px;
  vertical-align: middle;
  width: 200px;
  margin-top: 0;
  margin-bottom: 0;
}
.reviewimg{
  height: 150px;
  float: left;
}

.reviewtitle{
font-size: 18px;
text-align: left;
width: auto;
background-color: rgb(255, 255, 255);
margin-top: 0;
vertical-align: middle;
}

#link{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#link h1:hover{
  font-weight: bold;
}

#dateadded{
  margin-left: 80px;
  font-size: 15px;
}

#mainpage{
  width: 1100px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
}

#latestreview{
  float: right;
  width: 400px;
  height: 800px;
  border-left: solid 2px rgb(0, 0, 0);
}

h3{
  text-align: center;
}

#maintext{
  width: 690px;
  float: left;
  height: 100px;
}

#maintext p{
  text-align: center;
}

#left{
  width: 698px;
  float: left;
}

#bottom{
  float: left;
  width: 700px;
  height: 740px;
  position: relative;
}

#bottom h5{
  text-align: center;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 5px;
}

#currentanime{
  margin-left: 5px;
  position: relative;
  top: 0 ;
  bottom: 0;
  width: 600px;
  height: 210px;
}

#currentanime img{
  height: 200px;
}

#currentanime a{
  float: left;
}

#currentanime a p{
  text-align: center;
  padding-left: 10px;
  padding-top: 30%;
}
