#reviewlist{
  width: 1100px;
  height: 800px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.reviewitem{
  height: auto;
  margin-left: 5px;
  margin-top: 5px;
  float: left;

}

.reviewtext{
  display: inline-block;
  float: left;
  padding-left: 10px;
  vertical-align: middle;
  width: 930px;
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-y:scroll;
  overflow-x: hidden;
}
.reviewimg{
  height: 200px;
  float: left;
}

.reviewtitle{
font-size: 20px;
text-align: center;
width: 930px;
background-color: rgb(255, 255, 255);
margin-top: 0;
}

.reviewsum{

}

#link{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#link h1:hover{
  font-weight: bold;
}

#rezero{
  margin-top: 20px;
}
