h1{
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  float: left;
  margin-right: 10px;
}

#menu-outer{
  height: 27px;
}

#main-nav{
  padding-top: 43px;
}


header{
margin-left: 20%;
overflow: visible;
height: auto;
}

ul
{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style: none;
    position: relative;
}

ul li
{
    display: block;
    float: left;
}

li ul
{
    display: none;
}

ul li a
{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    background: rgb(255, 135, 171);z
    margin-left: 1px;
    width: auto;
}

ul li a:hover
{
    background: rgb(255, 166, 193);
}
li:hover ul
{
    display: block;
    position: absolute;
}

li:hover li
{
    float: none;
    font-size: 17px;
}

li:hover a
{
    background: rgb(255, 135, 171);
}
/* dropdown menu hover color */
li:hover li a:hover
{
    background: rgb(255, 196, 214);
}
